<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {title: title}); %>
  </head>
  <body>
    <%- include('./partials/sidebarNav'); %>
    <div class="col-sm-10">
      <h1><%= title %></h1>
      <h2><%= author.name %></h2>
      <h4>Books:</h4>
      <ul>
        <% author_books.forEach( book => { %>
          <li>
            <a href="<%= book.url %>">
              <%= book.title %>
            </a><br>
            <%= book.summary %>
          </li>
        <% }); %>
      </ul>
    </div>
    <hr>
    <p>
      <a href="<%=author.url + '/delete'%>">Delete author</a>
    </p>
  </body>
</html>