<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {title: title}); %>
  </head>
  <body>
    <%- include('./partials/sidebarNav'); %>
    <div class="col-sm-10">
      <h1><%= title %></h1>
      <ul>
        <% bookinstance_list.forEach( bookinstance => { %>
          <li>
            <a href="<%= bookinstance.url %>">
              <%= bookinstance.title %> : <%= bookinstance.imprint %>
            </a>
            <% if (bookinstance.status == 'Available') { %>
              <span class="text-success"><%= bookinstance.status %></span>
            <% } else if (bookinstance.status == 'Maintenance') {%>
              <span class="text-danger"><%= bookinstance.status %></span>
            <% } else { %>
              <span class="text-warning"><%= bookinstance.status %></span>
            <% } %>
            <% if (bookinstance.status != 'Available') { %>
              <span>(Due: <%= bookinstance.due_back %>)</span>
            <% } %>
          </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>